@import "../../mixins.scss";
.resultsNotFound {
  height: 600px;
  padding-top: 100px;
  .contentWrapper {
    text-align: center;
    color: var(--black-light);
    display: flex;
    flex-direction: column;
    .image_smaller {
      height: 300px;
    }
    .smallText {
      font-size: 44px;
    }
  }
}
