@mixin sm {
  @media only screen and (min-width: 640px) {
      @content; //640px se upar screen size iske andar jo css likhenge vo chalegi 
  }
}

@mixin md {
  @media only screen and (min-width: 768px) {
      @content;
  }
}

@mixin lg {
  @media only screen and (min-width: 1024px) {
      @content;
  }
}

@mixin xl {
  @media only screen and (min-width: 1280px) {
      @content;
  }
}

@mixin xxl {
  @media only screen and (min-width: 1536px) {
      @content; // @content jo bhi aap css likh rahe ho vo apply ho sake
  }
}

@mixin ellipsis($line: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

//TODO jo bhi css tag and css property bht repeat ho rahi h application uske liye aap mixins create karlp @maixin "name-anything" and then property described
